
@{
    ViewData["Title"] = "Index";
}

<h2>Asiakashaku</h2>

<form id="hakuehdot" method="post">
    Nimi: <input type="text" id="name_search" /> <br />
    Osoite: <input type="text" id="address" />
    <input type="button" id="searh" value="Hae" onclick="getStudents();" />
    <input type="button" id="new" value="Uusi opiskelija" onclick="newStudent();" />
</form>

@section scripts
    {
    <script>
        $('#loading').hide();

        function hideLoading() {
            $('#loading').hide();
        }

        function getStudents(){

            var name = $("#name_search").val();
            var addr = $("#address").val();

            $('#loading').show();
            $("#divStudentList").load("/Asiakas/GetStudents", { name: name, address: addr }, hideLoading);
            
        }

        function deleteClicked(id) {

            // jQuery UI pitää lisät Bower:n kautta (Projektin päällä hiiren oikean napin alta Manage Bower Packages ... )
            $("#deleteDialog").load("/Asiakas/DeleteView", { id: id },  function () {

                $("#deleteDialog").dialog(
                    {
                        title: "Poistetaanko asiakas?", width: 600, height: 400, modal: true, buttons: {
                            OK: function () {
                                deleteStudent(id, $(this)); 
                            },
                            Cancel: function () { $(this).dialog("close") }
                        }
                    })
            });
            
        }

        function deleteStudent(id, dlg)
        {
            $.get("/Asiakas/Delete/" + id, function (data) {
                if (data.status == "OK") {
                    dlg.dialog("close");
                    getStudents();
                }
            });

        }


        function newStudent() {
            $("#newDialog").load("/Asiakas/CreateView", function () {
                $("#newDialog").dialog(
                    {
                        title: "Anna opiskelijan tiedot", width: 600, height: 800, modal: true, buttons: {
                            OK: function () {
                                createStudent($(this));
                            },
                            Cancel: function () { $(this).dialog("close") }
                        }
                    })
            });
        }
        function createStudent(dlg) {
            debugger

            var newoppilas = $("#newStudentForm").serialize();
            
            $.ajax({
                type: "POST",
                data: newoppilas,
                url: "/Asiakas/CreateStudent/",
                success: function (data) {
                    dlg.dialog("close");
                    getStudents();
                },
                error: function (data) {
                    alert(data.msg); 
                }
            });
            
        }

    </script>
}

<div id="loading">
    <p><img src="~/images/loading.gif" /> Please Wait</p>
</div>


<div id="divStudentList">
</div>

<div id="deleteDialog">
</div>

<div id="newDialog">
</div>